@*@model IEnumerable<FuzzyLogicInterface.Models.TestRecord>*@
 @model List<FuzzyLogicInterface.Models.TestRecord>

<div>
       <h1>Regression Test Case Prioritizor</h1>
    <h3 class="text-danger">Sorted test cases on priority</h3>

    <hr />

    <div>
        @Html.ActionLink("Start Over", "ModuleRecordInput", "Input", htmlAttributes: new {@class="btn btn-info btn-md", style="white-space: normal" })
    </div>
     
<table class="table">

    <thead>
        <tr>
          
           <th>Module Code Lines</th>
           <th>Test Case Code Lines</th>
           <th>Criticality Of Requirement</th>  
           <th>Fault Coverage</th>
            <th>Priority Value</th>
           <th>Priority</th>



        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         
       
           
        <tr>
            <td>
               @item.ModuleCodeLinesEntered
            </td>
            <td>
                  @item.TestCodeLines
            </td>
            <td>
                  @item.CriticalityOfRequirement
            </td>
            <td>
                  @item.FaultCoverage
            </td>
            <td>
                  @item.PriorityValue
            </td>
            <td>
                  @item.Priority
            </td>
           
           
              </tr>
}
    </tbody>
</table>
 
</div>

